NodeRED/flows.json
[
  {
    "id": "ecg_tab",
    "type": "tab",
    "label": "ECG MQTT Monitor",
    "disabled": false,
    "info": "ECG 心電圖即時監測 Dashboard\n訂閱 NodeMCU-32 透過 MQTT 發送的 ecg/# topics"
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "NodeRED_ECG",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "ui_group_wave",
    "type": "ui_group",
    "name": "ECG 波形",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_bpm",
    "type": "ui_group",
    "name": "心律 BPM",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "系統狀態",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "ECG Monitor",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_base",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": { "default": true },
      "darkTheme": { "default": true }
    },
    "site": { "name": "ECG MQTT Dashboard" }
  },

  {
    "id": "in_nodc",
    "type": "mqtt in",
    "z": "ecg_tab",
    "name": "ecg/nodc",
    "topic": "ecg/nodc",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 130, "y": 80,
    "wires": [["fn_nodc"]]
  },
  {
    "id": "fn_nodc",
    "type": "function",
    "z": "ecg_tab",
    "name": "轉數值",
    "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
    "outputs": 1,
    "x": 320, "y": 80,
    "wires": [["chart_ecg"]]
  },
  {
    "id": "chart_ecg",
    "type": "ui_chart",
    "z": "ecg_tab",
    "name": "ECG 波形圖",
    "group": "ui_group_wave",
    "order": 1,
    "width": "12", "height": "5",
    "label": "ECG (去直流訊號)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "等待訊號...",
    "ymin": "-200", "ymax": "200",
    "removeOlder": "10", "removeOlderUnit": "1",
    "cutout": 0,
    "useOneColor": true, "colors": ["#00ff88"],
    "x": 520, "y": 80,
    "wires": [[]]
  },

  {
    "id": "in_bpm",
    "type": "mqtt in",
    "z": "ecg_tab",
    "name": "ecg/bpm",
    "topic": "ecg/bpm",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 130, "y": 180,
    "wires": [["fn_bpm"]]
  },
  {
    "id": "fn_bpm",
    "type": "function",
    "z": "ecg_tab",
    "name": "轉數值",
    "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
    "outputs": 1,
    "x": 320, "y": 180,
    "wires": [["gauge_bpm", "text_bpm"]]
  },
  {
    "id": "gauge_bpm",
    "type": "ui_gauge",
    "z": "ecg_tab",
    "name": "BPM 儀表",
    "group": "ui_group_bpm",
    "order": 1,
    "width": "6", "height": "4",
    "gtype": "gage",
    "title": "心律",
    "label": "BPM",
    "format": "{{value}}",
    "min": "30", "max": "200",
    "colors": ["#00b3fd", "#00ff88", "#ff4040"],
    "seg1": "60", "seg2": "130",
    "x": 520, "y": 160,
    "wires": []
  },
  {
    "id": "text_bpm",
    "type": "ui_text",
    "z": "ecg_tab",
    "name": "目前 BPM",
    "group": "ui_group_bpm",
    "order": 2,
    "width": "6", "height": "1",
    "label": "目前心律",
    "format": "{{msg.payload}} BPM",
    "layout": "row-spread",
    "x": 520, "y": 220,
    "wires": []
  },

  {
    "id": "in_alert",
    "type": "mqtt in",
    "z": "ecg_tab",
    "name": "ecg/alert",
    "topic": "ecg/alert",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 130, "y": 300,
    "wires": [["fn_alert"]]
  },
  {
    "id": "fn_alert",
    "type": "function",
    "z": "ecg_tab",
    "name": "警報判斷",
    "func": "// payload 格式 \"HIGH:130\"\nvar parts = String(msg.payload).split(\":\");\nvar bpm = parseInt(parts[1]);\nvar threshold = 130;\n\nif (bpm > threshold && bpm < 220) {\n    node.warn(\"心律過高：\" + bpm + \" BPM\");\n    msg.payload = \"⚠️ 警報！心律 \" + bpm + \" BPM 超過 \" + threshold;\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "x": 320, "y": 300,
    "wires": [["notify_alert", "text_alert"]]
  },
  {
    "id": "notify_alert",
    "type": "ui_toast",
    "z": "ecg_tab",
    "name": "警報通知",
    "position": "top right",
    "displayTime": "5",
    "highlight": "red",
    "outputs": 0,
    "ok": "確認",
    "x": 520, "y": 280,
    "wires": []
  },
  {
    "id": "text_alert",
    "type": "ui_text",
    "z": "ecg_tab",
    "name": "警報訊息",
    "group": "ui_group_status",
    "order": 1,
    "width": "6", "height": "2",
    "label": "警報",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 520, "y": 340,
    "wires": []
  },

  {
    "id": "in_status",
    "type": "mqtt in",
    "z": "ecg_tab",
    "name": "ecg/status",
    "topic": "ecg/status",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 130, "y": 420,
    "wires": [["fn_status"]]
  },
  {
    "id": "fn_status",
    "type": "function",
    "z": "ecg_tab",
    "name": "狀態轉文字",
    "func": "if (msg.payload === \"LEAD_OFF\") {\n    msg.payload = \"⚠️ 導線脫落，請檢查電極\";\n} else {\n    msg.payload = \"✅ \" + msg.payload;\n}\nreturn msg;",
    "outputs": 1,
    "x": 330, "y": 420,
    "wires": [["text_status"]]
  },
  {
    "id": "text_status",
    "type": "ui_text",
    "z": "ecg_tab",
    "name": "導線狀態",
    "group": "ui_group_status",
    "order": 2,
    "width": "6", "height": "2",
    "label": "裝置狀態",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 520, "y": 420,
    "wires": []
  }
]
